<?xml version="1.0" encoding="utf-8" ?>
<module viewEngine="Razor" clientResourceRelativePath="">
	<assemblies>
		<add assembly="EditorPowertools" />
	</assemblies>

	<clientResources>
		<add name="editorpowertools.css" path="ClientResources/css/editorpowertools.css" resourceType="Style" />
		<add name="editorpowertools.js" path="ClientResources/js/editorpowertools.js" resourceType="Script" />
		<add name="editorpowertools.components" path="ClientResources/js/components.js" resourceType="Script" />
		<add name="signalr" path="ClientResources/js/signalr.min.js" resourceType="Script" />
	</clientResources>

	<dojo>
		<paths>
			<add name="editorpowertools" path="ClientResources/js" />
		</paths>
	</dojo>

	<clientModule initializer="editorpowertools/commands/EditorPowertoolsCommandsInitializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
		<requiredResources>
			<add name="editorpowertools.css" />
			<add name="signalr" />
		</requiredResources>
	</clientModule>
</module>
