<?xml version="1.0" encoding="utf-8" ?>
<module viewEngine="Razor" clientResourceRelativePath="">
	<assemblies>
		<add assembly="EditorPowertools" />
	</assemblies>

	<clientResources>
		<add name="editorpowertools.css" path="ClientResources/css/editorpowertools.css" resourceType="Style" />
		<add name="editorpowertools.js" path="ClientResources/js/editorpowertools.js" resourceType="Script" />
		<add name="editorpowertools.components" path="ClientResources/js/components.js" resourceType="Script" />
	</clientResources>
</module>
