<?xml version="1.0" encoding="utf-8" ?>
<module viewEngine="Razor" clientResourceRelativePath="">
    <assemblies>
        <add assembly="EditorPowertools.Forms" />
    </assemblies>

    <clientResources>
        <add name="editorpowertools-forms.css" path="ClientResources/css/editorpowertools-forms.css" resourceType="Style" />
    </clientResources>

    <dojo>
        <paths>
            <add name="editorpowertools-forms" path="ClientResources/js" />
        </paths>
    </dojo>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
            <add dependency="EditorPowertools" type="RunAfter" />
        </moduleDependencies>
    </clientModule>
</module>
